/*=========================================
Reset style start
==========================================*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
/*=========================================
Reset style end
==========================================*/

/*=========================================
Shared style start
==========================================*/
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
/*=========================================
Shared style end
==========================================*/
