/*=========================================
Reset-style-start
==========================================*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}
/*=========================================
Reset-style-end
==========================================*/

/*=========================================
Shared-style-start
==========================================*/
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.btn {
  padding: 12px 16px;
  background-color: #469165;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.btn-1 {
  background-image: url("../assets/ArrowRight.png");
  background-repeat: no-repeat;
  background-position: 98%;
  padding-right: 29px;
}
.btn-2 {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 29px;
  background: url("../assets/Play.png"), transparent;
  background-repeat: no-repeat;
  background-position: 2px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #ffffff;
}
/*=========================================
Shared-style-end
==========================================*/

/*=========================================
Header-section-start
==========================================*/
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
header .navigation a {
  text-decoration: none;
}
header .navigation a img {
  width: 139px;
  height: 60px;
}
header .navigation-menu {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 32px;
}
header .navigation-menu li {
  list-style-type: none;
}
header .navigation-menu li a {
  display: block;
  color: #000000;
  text-align: left;
  font-size: 16px;
}
/*=========================================
Header-section-end
==========================================*/

/*=========================================
Banner-section-start
==========================================*/
.banner-section {
  padding-top: 115px;
  padding-bottom: 235px;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-section .banner {
  text-align: center;
}
.banner-section .banner > button[type="button"] {
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 34px;
  border: none;
  /* background-color:; */
  color: #469165;
  font-size: 16px;
  border-radius: 24px;
  margin-bottom: 16px;
  background-image: url("../assets/Group\ 5.png");
  background-repeat: no-repeat;
  background-position: 10px 9px;
}
.banner-section .banner h1 {
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 16px;
}
.banner-section .banner h1 span {
  font-size: 65px;
  color: #30b868;
}
.banner-section .banner p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}
.banner-section .banner .btn-group {
  display: flex;
  justify-content: center;
  gap: 16px;
}
/*=========================================
Banner-section-end
==========================================*/

/*=========================================
Card-section-start
==========================================*/
.card-and-text {
  padding-top: 80px;
  background-color: #fbfbfb;
}
.card-and-text .text {
  text-align: center;
  margin-bottom: 44px;
}
.card-and-text .text h2 {
  font-size: 48px;
  color: #001931;
  font-weight: bold;
  margin-bottom: 16px;
}
.card-and-text .text p {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
.card-and-text .card-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.card-and-text .card-container .card {
  padding: 70px 24px;
  box-shadow: 0px 0px 8px #000000;
}
.card-and-text .card-container .card .card-body {
  text-align: center;
}
.card-and-text .card-container .card .card-body img {
  width: 60px;
  height: 60px;
  margin-bottom: 16px;
}
.card-and-text .card-container .card .card-body .card-title {
  color: #001931;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-and-text .card-container .card .card-body .card-text {
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
/*=========================================
Card-section-end
==========================================*/

/*=========================================
Brain-section-start
==========================================*/
.brain-and-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  margin: 120px 0;
}
.brain-and-text img {
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.brain-and-text .navigation-menu h5 {
  color: #469165;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}
.brain-and-text .navigation-menu h2 {
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
.brain-and-text .navigation-menu p {
  max-width: 426px;
  color: #627382;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
  text-align: left;
}
.brain-and-text .navigation-menu ul {
  margin: 0px;
  padding: 0px;
}
.brain-and-text .navigation-menu ul li {
  background-image: url("../assets/CheckCircle.png");
  background-repeat: no-repeat;
  background-position: left center;
  list-style-type: none;
  margin-bottom: 16px;
  padding-left: 26px;
}
/*=========================================
Brain-section-end
==========================================*/

/*=========================================
Early-access-section-start
==========================================*/
.early-access {
  margin-bottom: 120px;
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 40px;
  border-radius: 12px;
}
.early-access h2 {
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}
.early-access .demo1 {
  color: #627382;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
.early-access .demo2 {
  margin-top: 16px;
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
/*=========================================
Early-access-section-end
==========================================*/

/*=========================================
Footer-section-start
==========================================*/
footer {
  background-color: #001931;
  padding-top: 120px;
  padding-bottom: 30px;
}
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  border-bottom: 1px solid #e5e7eb;
}
.footer-section .footer-image img {
  width: 139px;
  height: 60px;
}
.footer-section .footer-icon {
  padding-right: 128px;
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
}
.footer-section .footer-icon h6 {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}
.footer-section .footer-icon ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-section .footer-icon ul a {
  text-decoration: none;
}
.footer-section .footer-icon ul a img {
  width: 20px;
  height: 20px;
}
footer span {
  display: block;
  margin-top: 30px;
  text-align: center;
  color: #fafafa;
  font-size: 16px;
  line-height: 26px;
}
/*=========================================
Footer-section-end
==========================================*/
